$primary-color:  #84fab0;
$secondary-color: #8fd3f4;
$color-white: #fff;
$color-gray-dark: #888;
$color-black: #000;
$color-gray-light-1: #f7f7f7;
$color-dark: #333;
$color-light-gray-2: #eee;
$color-gray-dark-2: #777;
$color-bg-1: #37ecba;
$color-bg-2: #72afd3;
//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$horizontal-gutter: 6rem;

$default-font-size: 1.4rem;